<form (ngSubmit)="submitForm(f)" #f="ngForm">
  path
  <input
   [(ngModel)]="path"
   name="inb"
   #inb>
   <button type="button" (click)="inb.value = 'xxx'">set</button>


  <button type="button" (click)="setbyelem()">Set By view child</button>
  <button type="button" (click)="setbyform()">Set By form</button>

<table mat-table [dataSource]="dataSource" class="mtable">
  <!-- id -->
  <ng-container [matColumnDef]="columnDefine[0]">
    <th mat-header-cell *matHeaderCellDef> Project </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- part -->
  <ng-container [matColumnDef]="columnDefine[1]">
    <th mat-header-cell *matHeaderCellDef> Part </th>
    <td mat-cell *matCellDef="let element"> {{element.part_file}} </td>
  </ng-container>

  <!-- Gate -->
  <ng-container [matColumnDef]="columnDefine[2]">
    <th mat-header-cell *matHeaderCellDef> Gate </th>
    <td mat-cell *matCellDef="let element"> {{element.gate_location}} </td>
  </ng-container>

  <!-- Material -->
  <ng-container [matColumnDef]="columnDefine[3]">
    <th mat-header-cell *matHeaderCellDef> Material </th>
    <td mat-cell *matCellDef="let element"> {{element.part_material}} </td>
  </ng-container>

  <!-- Hostname -->
  <ng-container [matColumnDef]="columnDefine[4]">
    <th mat-header-cell *matHeaderCellDef> Hostname </th>
    <td mat-cell *matCellDef="let element"> {{element.hostname === undefined? '' : element.hostname}} </td>
  </ng-container>

  <!-- Remark -->
  <ng-container [matColumnDef]="columnDefine[5]">
    <th mat-header-cell *matHeaderCellDef> Remark </th>
    <td mat-cell *matCellDef="let element"> {{element.remark === undefined? '' : element.remark}} </td>
  </ng-container>

  <!-- Edit -->
  <ng-container [matColumnDef]="columnDefine[6]">
    <th mat-header-cell *matHeaderCellDef> Edit Run(s) </th>
    <td mat-cell *matCellDef="let element"> <button>Edit</button> </td>
  </ng-container>

  <!-- Delete -->
  <ng-container [matColumnDef]="columnDefine[7]">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element"> <button>Delete</button> </td>
  </ng-container>




  <tr mat-header-row *matHeaderRowDef="columnDefine"></tr>
  <tr mat-row *matRowDef="let row; columns: columnDefine;"></tr>




</table>
<button type="submit">Submit</button>
</form>
